---
import Layout from "../layouts/Layout.astro";
import HeroV2 from "../sections/Hero_v2.astro";
import Collection from "../sections/Collection.astro";
import Footer from "../sections/Footer.astro";
import Showcase from "../sections/Showcase.astro";
import LogoScroller from "../components/LogoScroller.astro";
import Benefits from "../sections/Benefits.astro";
import ValueProps from "../sections/ValueProps.astro";
import Testimonials from "../sections/Testimonials.astro";
import VideoModal from "../components/VideoModal.astro";
import QuizCTA from "../sections/QuizCTA.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SignupForm from "../components/SignupForm";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout title="Award Winning Prostate Massagers">
  <VideoModal />
  <HeroV2 />
  <LogoScroller />
  <Collection />
  <Testimonials />
  <SectionContainer>
    <div>
      <SectionTitle
        heading="Get Guide & 15% Off"
        subhead="Sign-up and get our Beginner's Guide to Prostate Massage along with 15% off your order"
      />
      <SignupForm client:visible />
    </div>
  </SectionContainer>
  <Benefits />
  <Showcase />
  <ValueProps />
  <QuizCTA />
  <Footer />
</Layout>
