---
import Thor from "../../assets/images/thor-rotating-prostate-massager-sans-remote.jpeg";
import Tomo from "../../assets/images/tomo-come-hither-prostate-massager-sans-remote.jpg";
import Vulcan from "../../assets/images/vulcan-vibrating-prostate-plug-cock-ring-4.jpg";
import { Icon } from "astro-icon/components";
import SectionContainer from "../../components/SectionContainer.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import ReviewCard from "../../components/ReviewCard.astro";
---

<SectionContainer>
  <SectionTitle heading="Prostate Massager Reviews" />
  <div class="grid md:gap-y-12">
    <div class="grid md:grid-cols-2">
      <div>
        <ReviewCard
          name="Ronny S."
          title="What a secret"
          body="Well I had prostate problems and my Doctor suggested a prostate massage in the office or have my wife do it. She’s great but not that crazy about it. So I got this. All I can say is get one asap. Not only is it a cure for your problem, it creates another. You will want to do it daily! Lol, the feeling is out of this world and it’s so intense like you’ve never experienced!"
          product="Thor Rotating Prostate Massager"
          href="https://mygiddi.com/products/thor-rotating-prostate-massager"
          imgSrc={Thor}
          alt="best rotating prostate massager for health prostatitis prostate cancer"
        />
      </div>
      <div class="grid place-items-center p-6">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p class="font bold z-50 max-w-prose text-center text-4xl italic">
            "All I can say is get one asap. Not only is it a cure for your
            problem, it creates another. You will want to do it daily!"
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div class="order-2 grid place-items-center p-6 md:order-1">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p class="font bold z-50 max-w-prose text-center text-4xl italic">
            "Dude, it has made f%$#ing takeoff! Works steller for me is all I
            can say! Just wish I found it sooner."
          </p>
        </div>
      </div>
      <div class="order-1 md:order-2">
        <ReviewCard
          name="Bravo B."
          title="Dammn, Tomo!"
          body="Ok so I have tried a few prostate massagers and plugs over the past year (never had prior to). There were a couple that could add stimulation and a couple that were just not for me. Tried an Aeneros model that was great but still not it. Tried Thor, the BEAST, which after much effort didn't feel bad but was way too much for my hole after a few uses (may revisit later, however). Tried a regular plug shaped for pleasure, nope. This fucking Tomo!!! Brugh, I was intimidated by the shape and size tbh but once I got that fucker in there ...dude, it has made fucking takeoff! I am 6'2 sturdy build and just thought nothing would actually hit the P but man ...works stellar for me is all I can say! Just wish I found it sooner."
          product="Tomo Come Hither Prostate Massager"
          href="https://mygiddi.com/products/tomo-come-hither-prostate-massager-remote-control"
          imgSrc={Tomo}
          alt="best come hither prostate massager vibrator milker for p-spot stimulation stimulator"
        />
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div>
        <ReviewCard
          name="David D."
          title="I love this thing!"
          body="I love this thing! It's just the right size for me, super strong vibrations and the cock rings keep me soooooo hard! Get yourself close to cumming and let the Vulcan make you squirt all over yourself! You won't regret buying this amazing toy, do yourself (literally) a favor and let the Vulcan give you an orgasm from the inside! You gotta try it!"
          product="Vulcan Prostate Plug & Cockring"
          href="https://mygiddi.com/products/vulcan-vibrating-prostate-plug"
          imgSrc={Vulcan}
          alt="best prostate cockring toy vibrator milker for p-spot stimulation stimulator"
        />
      </div>
      <div class="grid place-items-center p-6">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p class="font bold z-50 max-w-prose text-center text-4xl italic">
            "It's just the right size for me, super strong vibrations and the
            cock rings keep me soooooo hard!"
          </p>
        </div>
      </div>
    </div>
  </div>
</SectionContainer>

<style>
  [data-icon="quote-right"] {
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 6rem;
    opacity: 0.3;
    z-index: 10;
  }
</style>
