---
import { Icon } from "astro-icon/components";
---

<div
  class="review-container | absolute left-8 top-8 z-10 rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm"
  data-order="1"
>
  <span class="font-xs font-bold">OMG!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute left-4 top-40 z-10 rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm"
  data-order="2"
>
  <span class="font-xs font-bold">I love this thing!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute right-8 top-12 z-10 rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm"
  data-order="3"
>
  <span class="font-xs font-bold">Best toy ever!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute bottom-12 right-4 z-10 rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm md:hidden xl:block"
  data-order="4"
>
  <span class="font-xs font-bold">Leg shaking</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute bottom-4 left-4 z-10 rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:bottom-16 sm:left-10 md:hidden xl:block"
  data-order="5"
>
  <span class="font-xs font-bold">Brilliant toy!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute right-32 top-40 z-10 hidden rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:block md:hidden lg:block"
  data-order="6"
>
  <span class="font-xs font-bold">I still feel it</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute right-12 top-72 z-10 hidden rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:block md:hidden lg:block"
  data-order="7"
>
  <span class="font-xs font-bold">Found my p-spot</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute left-12 top-72 z-10 hidden rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:block md:hidden lg:block"
  data-order="7"
>
  <span class="font-xs font-bold">Super O achieved</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute left-64 top-6 z-10 hidden rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:block md:hidden lg:block"
  data-order="8"
>
  <span class="font-xs font-bold">I'm hooked on it</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute bottom-10 left-64 z-10 hidden rounded-md bg-neutral-200/50 p-2 text-neutral-950 shadow-sm sm:block md:hidden xl:block"
  data-order="9"
>
  <span class="font-xs font-bold">Never came so much</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 100;
      transform: scale(1);
    }
  }

  .review-container {
    opacity: 0;
    animation: fade-in 1s forwards;
  }

  .review-container[data-order="2"] {
    animation-delay: 0.5s;
  }
  .review-container[data-order="3"] {
    animation-delay: 1s;
  }
  .review-container[data-order="4"] {
    animation-delay: 1.5s;
  }
  .review-container[data-order="6"] {
    animation-delay: 0.5s;
  }
  .review-container[data-order="7"] {
    animation-delay: 1s;
  }
  .review-container[data-order="8"] {
    animation-delay: 1.5s;
  }

  [data-icon="star-filled"] {
    color: var(--color-primary);
    font-size: 1rem;
  }
</style>
