---
import { Icon } from "astro-icon/components";
---

<div
  class="absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-4 left-4"
>
  <span class="font-xs font-bold">OMG!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-40 left-4"
>
  <span class="font-xs font-bold">I love this thing!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-12 right-8"
>
  <span class="font-xs font-bold">Best toy ever!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 bottom-12 right-4"
>
  <span class="font-xs font-bold">Leg shaking</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
