---
import { Icon } from "astro-icon/components";
---

<div
  class="review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-8 left-8"
  data-order="1"
>
  <span class="font-xs font-bold">OMG!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-40 left-4"
  data-order="2"
>
  <span class="font-xs font-bold">I love this thing!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-12 right-8"
  data-order="3"
>
  <span class="font-xs font-bold">Best toy ever!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | md:hidden xl:block absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 bottom-12 right-4"
  data-order="4"
>
  <span class="font-xs font-bold">Leg shaking</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 bottom-4 left-4 sm:bottom-16 sm:left-10 md:hidden xl:block"
  data-order="5"
>
  <span class="font-xs font-bold">Brilliant toy!</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="hidden sm:block md:hidden lg:block review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-40 right-32"
  data-order="6"
>
  <span class="font-xs font-bold">I still feel it</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="hidden sm:block md:hidden lg:block review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-72 right-12"
  data-order="7"
>
  <span class="font-xs font-bold">Found my p-spot</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="hidden sm:block md:hidden lg:block review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-72 left-12"
  data-order="7"
>
  <span class="font-xs font-bold">Super O achieved</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="hidden sm:block md:hidden lg:block review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 top-6 left-64"
  data-order="8"
>
  <span class="font-xs font-bold">I'm hooked on it</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>
<div
  class="hidden sm:block md:hidden xl:block review-container | absolute z-10 bg-neutral-200/50 shadow-sm text-neutral-950 rounded-md p-2 bottom-10 left-64"
  data-order="9"
>
  <span class="font-xs font-bold">Never came so much</span>
  <div class="flex">
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
    <Icon name="star-filled" />
  </div>
</div>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 100;
      transform: scale(1);
    }
  }

  .review-container {
    opacity: 0;
    animation: fade-in 1s forwards;
  }

  .review-container[data-order="2"] {
    animation-delay: 0.5s;
  }
  .review-container[data-order="3"] {
    animation-delay: 1s;
  }
  .review-container[data-order="4"] {
    animation-delay: 1.5s;
  }
  .review-container[data-order="6"] {
    animation-delay: 0.5s;
  }
  .review-container[data-order="7"] {
    animation-delay: 1s;
  }
  .review-container[data-order="8"] {
    animation-delay: 1.5s;
  }

  [data-icon="star-filled"] {
    color: rgb(var(--color-primary));
    font-size: 1rem;
  }
</style>
