---
interface Props {
  heading: string;
  subhead?: string;
}
const { heading, subhead } = Astro.props;
---

<div class="mb-20 text-center">
  <h2 class="text-4xl font-bold md:text-5xl">{heading}</h2>
  {subhead ? <p>{subhead}</p> : null}
</div>
