---
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer>
  <div class="flex flex-col items-center justify-center">
    <span class="text-2xl font-bold">Still not sure?</span>
    <p>Take our short quiz to find your match!</p>
    <a
      href="https://mygiddi.com/tools/perfect-product-finder/quiz"
      target="_blank"
      class="btn-outline mt-8">Find My Match</a
    >
  </div>
</SectionContainer>
