---
import Scroller from "../components/Scroller.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer>
  <h2 class="text-5xl text-slate-50 font-bold text-center">
    Prostate Massager Reviews
  </h2>
  <div class="mt-8">
    <Scroller />
  </div>
</SectionContainer>
