---
import { Image } from "astro:assets";
import SectionContainer from "../components/SectionContainer.astro";
import Thor from "../assets/images/thor-rotating-prostate-massager-sans-remote.jpeg";
import Tomo from "../assets/images/tomo-come-hither-prostate-massager-sans-remote.jpg";
import Vulcan from "../assets/images/vulcan-vibrating-prostate-plug-cock-ring-4.jpg";
import ReviewCard from "../components/ReviewCard.astro";
import { Icon } from "astro-icon/components";
import SectionTitle from "../components/SectionTitle.astro";
---

<SectionContainer id="reviews">
  <SectionTitle heading="Prostate Massager Reviews" />
  <div class="grid md:gap-y-12">
    <div class="grid md:grid-cols-2">
      <div>
        <ReviewCard
          name="Tom S."
          title="Best prostate toy yet!"
          body="The Thor is great, and the best toy I've ever used. The stimulation is incredible, with both the rotation and vibrations. I used it for about an hour and I was still feeling it a couple of hours later. If you're interested in prostate stimulation, this is definitely the one to get! I would highly recommend it!"
          product="Thor Rotating Prostate Massager"
          href="https://mygiddi.com/products/thor-rotating-prostate-massager"
          imgSrc={Thor}
          alt="best rotating prostate massager vibrator milker for p-spot stimulation"
        />
      </div>
      <div class="grid place-items-center p-6">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p
            class="relative max-w-prose text-center text-4xl font-bold italic text-neutral-content"
          >
            "I used it for about an hour and was still feeling it a couple hours
            later."
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div class="order-2 grid place-items-center p-6 md:order-1">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p
            class="relative max-w-prose text-center text-4xl font-bold italic text-neutral-content"
          >
            "Dude, it has made f%$#ing takeoff! Works steller for me is all I
            can say! Just wish I found it sooner."
          </p>
        </div>
      </div>
      <div class="order-1 md:order-2">
        <ReviewCard
          name="Bravo B."
          title="Dammn, Tomo!"
          body="Ok so I have tried a few prostate massagers and plugs over the past year (never had prior to). There were a couple that could add stimulation and a couple that were just not for me. Tried an Aeneros model that was great but still not it. Tried Thor, the BEAST, which after much effort didn't feel bad but was way too much for my hole after a few uses (may revisit later, however). Tried a regular plug shaped for pleasure, nope. This fucking Tomo!!! Brugh, I was intimidated by the shape and size tbh but once I got that fucker in there ...dude, it has made fucking takeoff! I am 6'2 sturdy build and just thought nothing would actually hit the P but man ...works stellar for me is all I can say! Just wish I found it sooner."
          product="Tomo Come Hither Prostate Massager"
          href="https://mygiddi.com/products/tomo-come-hither-prostate-massager-remote-control"
          imgSrc={Tomo}
          alt="best come hither prostate massager vibrator milker for p-spot stimulation stimulator"
        />
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div>
        <ReviewCard
          name="David D."
          title="I love this thing!"
          body="I love this thing! It's just the right size for me, super strong vibrations and the cock rings keep me soooooo hard! Get yourself close to cumming and let the Vulcan make you squirt all over yourself! You won't regret buying this amazing toy, do yourself (literally) a favor and let the Vulcan give you an orgasm from the inside! You gotta try it!"
          product="Vulcan Prostate Plug & Cockring"
          href="https://mygiddi.com/products/vulcan-vibrating-prostate-plug"
          imgSrc={Vulcan}
          alt="best prostate cockring toy vibrator milker for p-spot stimulation stimulator"
        />
      </div>
      <div class="grid place-items-center p-6">
        <div class="relative my-32 md:my-0">
          <Icon name="quote-right" />
          <p
            class="relative max-w-prose text-center text-4xl font-bold italic text-neutral-content"
          >
            "It's just the right size for me, super strong vibrations and the
            cock rings keep me soooooo hard!"
          </p>
        </div>
      </div>
    </div>
  </div>
</SectionContainer>

<style>
  [data-icon="quote-right"] {
    position: absolute;
    top: -4rem;
    right: 0;
    color: var(--color-purple);
    font-size: 6rem;
    opacity: 0.5;
  }
</style>
