@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 215 194 144;
    --color-white: 250 250 250;

    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
    background: rgb(19, 21, 26);
    color: rgb(var(--color-white));
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply py-4 px-8 bg-primary text-gray-950 rounded-lg inline-block text-center font-bold tracking-wide uppercase transition ease-in-out duration-500;
  }

  .btn:hover {
    background-color: #bfaf7a;
  }

  .btn-outline {
    @apply outline outline-primary outline-2 py-4 px-8 rounded-lg inline-block text-center text-primary font-bold tracking-wide uppercase transition-opacity ease-in-out duration-1000;
  }

  .btn-outline:hover {
    @apply outline-primary/75 text-primary/75;
  }
}
